*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	max-width: 360px;
	font-family: 'Roboto', bold,sans-serif, italic;
}

p{
	text-align:center;
}

     /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 580px;
        width: 360px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
      	width: 360px;
        z-index: 5;
        background-color: #009AD4;
        padding: 5px;
     	border: none;
        text-align: center;
        line-height: 30px;
        padding-left: 10px;
      }
      #end{
      	margin-right:3px ; 
      }
      select{
      	-webkit-appearance:none;
      	-moz-appearance:none;
      	appearance:none;
      	  border-radius : 5px;
  -moz-border-radius : 5px;
  -webkit-border-radius : 5px;


      	width: 260px;
      	height: 28px;
      	margin-bottom: 25px;
      	border:none;
      	padding-left: 10px;
      	font-size: 16px; 

      	/*margin-left: 30px;*/
      }
    .flotante{
    	position: fixed;
    	left: 20px;
    	z-index: 6;
    } 
   	

.flex-container{
	max-width: 360px;
	max-height: 600px;
	width: 360px;
	height: 640px;
	margin:auto;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.flex-container-registro{
	max-width: 360px;
	max-height: 600px;
	width: 360px;
	height: 640px;
	margin:auto;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.error{
	height: 40px;
	width: 288px;
	outline: none;
	background: none;
	border: none;
	padding: 5px;
	border-bottom: 5px solid #D32F2F;
	color: red;
}


.logo{
	width: 349px;
	height: 194px;
	position: relative;

}
.fondo{
	position: absolute;
	display: block;
	z-index: 0;
}
.boton{
	position: relative;
	width: 90%;
	height: 50px;
	font-family: 'Roboto', bold;
	font-size: 16px;
	color: #fff;
	background: #355784;
	text-decoration: none;
	display:flex;
	justify-content: center;
	align-items: center;
}

a.boton.index{
	position: relative;
	width: 360px;
	height: 130px;
	font-size: 27px;
	background : rgba(32, 39, 43, 1);
	opacity: 0.8;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px; 
}

/* botones del HOME*/
.homeBoton{
	width: 100%;
	height: 124.75px;
	background: grey;
	color:#fff;
	text-decoration:none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#uno{
background: #98C280;
}
#dos{
background: #978BE0;
}
#tres{
background: #80C2B3;
}
#cuatro{
background: #80A5C2;
}



.forgot{
	margin-top:20px;
	margin-bottom:20px;
	text-decoration: none;
	color: #fff;
}

.saldo p{
color:#000;
display: inline-block;
margin-top: 
}
.monto{
color:blue;
display: inline;
}


form{
display:flex;
flex-direction: column;
flex-wrap: no-wrap;
justify-content: center;
align-items: center;
z-index: 2;
}

.flex-container p{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;	
}
.input{
	height: 40px;
	width: 90%;
	/*position: relative;*/
	outline: none;
	background: none;
	border: none;
	padding: 5px;
	color: #fff;
	border-bottom: 2px solid #263238;
	margin-bottom: 20px;
}

.input::placeholder {
  color: #fff;
 }

 /* grid container */

.grid-container{
	height: 60px;
	width: 100%;
	background: #009AD4;
	display: grid;
	grid-template-columns: 50% 50%; 
	grid-template-rows: 60px;
	justify-items:start;
}


.back{
	grid-row: 1;
	grid-column: 1;
	background: #009AD4; 
	text-decoration: none;
	color:#fff;
	font-size: 20px;
	align-self: start;
	justify-self:start;
	text-align: center;
	line-height: 60px;
	margin-left: 10px;
}



/* REGISTRO */
.flex-container-metodo{
	max-width: 360px;
	max-height: 640px;
	width: 360px;
	height: 640px;
	margin:auto;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* CHECKBOX ESTILO BUTTON*/
.registro{
	height: 413px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.registro input[type="checkbox"]{
	display: none;
}
.registro label{
	width: 150px;
	height: 35px;
	color: #009AD4;
	border-width: 1px;
	border-style: solid;
	border-color: #009AD4;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	justify-content: center;
	font-size: 1em;
	border-radius: 20px;
	padding-top: 8px;
	margin-bottom: 20px;
}
.registro input[type="checkbox"]:checked + label{
	color: #fff ;
	background: #009AD4;
}

/**/
.cuadroAzul{
	background: #009AD4;
	height: 129px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: left;
	justify-content: left;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding-left: 10px;
}

.cuadroAzul p{
	text-align: left;
	margin-bottom: 10px;
	color: #fff;
	display: flex;
	align-items: center;
	padding-top: 20px;
}

.inputRegistro{
	height: 40px;
	width: 288px;
	color: #000;
	outline: none;
	background: none;
	border: none;
	padding: 5px;
	border-bottom: 2px solid #009AD4;
	/*margin-bottom: 20px;*/
}
}
.infoRegistro{
	width: 300px;
	display: flex;

	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 50px;
}

.security{
	width: 42px;
	outline: none;
	background: none;
	border: none;
	margin-right:10px; 
	margin-left: 10px;
	padding: 5px;
	color: #000;
	border-bottom: 5px solid #3A81B0;
	margin-bottom: 20px;
	text-align: center;
}
.registro{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}


.botonRegistro{
	background: #009AD4;
	width: 80%;
	height: 38px;
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.botonBlanco{
	width: 80%;
	height: 38px;
	background: #fff;
	color: #95989A;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input.date{
	border-bottom: 2px solid #3A81B0;
	font-size: 14px;
	width: 140px;
	color: #000;
	display:flex;
	justify-content: flex-start;
	margin-right: 10px; 
}
.input.codTarjeta{
	border-bottom: 2px solid #3A81B0;
	font-size: 14px;
	width: 140px;
	color: #000;
	/*margin-right: 10px ;
	margin-top: 50px;
	text-align: center;
	float: right;*/
	display:flex;
	justify-content: flex-end;
}

form div.alineados{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
	margin-left: 10px;

}

.check{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom:10px; 
}


/* CARGAR SALDO */
.flex-container-carga{
	max-width: 360px;
	max-height: 600px;
	width: 360px;
	height: 640px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.formCarga{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
/*input de cargar saldo*/
.carga{
	height: 70px;
	width: 48%;
	/*position: relative;*/
	outline: none;
	background: none;
	border: none;
	padding: 5px;
	color: #000;
	font-size: 60px;
	border-bottom: 2px solid #009AD4;
	margin-bottom: 20px;
}

.paratexto{
	opacity: 0.8;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*margin-left:100px;*/
	flex-basis: 360px;
	align-self:center;
}

.botonCarga{
	background: #009AD4;
	width: 80%;
	height: 38px;
	color: #fff;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: center;
	margin-left: 36px; 
}

				/*pantalla modal de cargar saldo*/
.modal-contenido{
  background:#fff;
  width:300px;
  height: 210px;
  padding: 50px 20px;
  margin: auto;
  margin-top: ;
  position: relative;
}

.modalCarga{
	 background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
   transition: all 1s;
}

#modalcarga:target{
  opacity:1;
  pointer-events:auto;
}

#cancelar,#aceptar{
	text-decoration: none;
	color: #009AD4;
	margin-top: 80px;
}
#cancelar{
	float: left;
}
#aceptar{
	float: right;
}

.negrita{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/*margin-left:100px;*/
	flex-basis: 300px;
	align-self:center;
	margin-left: 30px;
}


/* HORARIOS */
.flex-container-horarios{
	width: 360px;
	height: 580px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.subte{
	width: 310px;
	height: 405px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
}


.horarioBoton{
	height: 164px;
	width: 360px;
	color:#fff;
	text-decoration:none;
	display: flex;
	flex-direction: row;
}

#subte{ background:#978BE0 ; 	height: 164px;}
#tren{background: #80C2B3;	height: 164px;}
#colectivo{background: #80A5C2 ;	height: 164px;}


.linea{
	width: 97px;
	height: 93px;
  	border-radius : 12px;
  	-moz-border-radius : 12px;
  	-webkit-border-radius : 12px;
  	font-size: 4em;
  	font-weight: bold; 
  	color: #fff;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
  	text-decoration: none;
}

.linea.A{ background: #6FA2C2; }
.linea.B{background:  #D05949;	}
.linea.C{background:#0870C2 ;}
.linea.D{ background:  #5F9E54; }
.linea.E{ background:#C253BB ; }
.linea.H,.linea.P{background: #E6DA64;}

/* select de horarios de SUBTE*/
.flex-container-horarios-linea{
	display: flex;
	flex-direction: column;
		flex-wrap: wrap;
	align-content: center;
	align-items: center;
}

.horarios{
	width: 100%;
	height: 140px;
	background : #6FA2C2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	align-items: center;
	margin-top: 10px;
}

.t1{
	color:#fff;
	font-weight: medium;
	font-size: 20pt;
	line-height: 35px;
	justify-content: center;
}
.t2{
	color:#fff;
	font-weight: medium;
	font-variant: italic;
	font-size: 12pt;
	line-height: 35px;
	justify-content: center;
}

.proximo{
	background: white;
	height: 66px;
	width: 85%;
	border-radius : 10px;
 	-moz-border-radius : 10px;
 	-webkit-border-radius : 10px;
 	justify-content: center;
}
.proximo p{
	font-size: 4em;
	font-weight: bold;
	justify-content: center;
	align-items: center;
}

.funcionamiento{
	width: 100%;
	height: 32px;
	background: #98C280;
	color: #fff;
	line-height: 32px;
	font-size: 12pt;
	font-weight: medium;
	font-style: italic;
	padding-left: 100px;

}
/* tabla de horarios  */
.tabla{
	margin-top: 25px;
}
.tabla-linea{
	margin-top: 10px;
}
.tabla-linea tr{
background-color: #B8B8B8;
}

.tabla-linea table{
	 table-layout: fixed;
	  width: 100%;
	   border-collapse: collapse;
}

.tabla-linea th,td{
	 padding: 5px;
}

.tren{
	width: 100%;
	height: 77.243px;
	display: flex;
	justify-content: center;
	align-self: center;
	line-height: 77.243px;
	color:#fff;
	font-size: 12pt;
	text-decoration: none;
}
.espacio{ margin-top: 40px; }
.tren.a{ background: #978BE0 ;}
.tren.b{ background: #94ACD6 ;}
.tren.c{ background: #D0CAB1; }
.tren.d{ background: #6788C0 ;}
.tren.e{ background: #B14E62 ;}
.tren.f{ background: #9ECBED ;}
.tren.g{ background: #5C5680 ;}
.tren.h{background: #2B2756;}


.estacion{
	width: 100%;
	height: 40px;
}
.recorrido{
	width: 100%;
	height: 67.392px;
	display: flex;
	justify-content: center;
	align-self: center;
	line-height: 77.243px;
	color:#fff;
	font-size: 12pt;
	text-decoration: none;
}
.recorrido.a{ background: #978BE0 ;}
.recorrido.b{ background: #94ACD6 ;}
.recorrido.c{ background: #D0CAB1; }
.recorrido.d{ background: #6788C0 ;}
.recorrido.e{ background: #B14E62 ;}
.recorrido.f{ background: #9ECBED ;}
.recorrido.g{ background: #5C5680 ;}
.recorrido.h{background:  #2B2756 ;}

.estacionTxt{
height: 136.516px;
width: 70%;
font-size: 29px;
font-weight: thin;
/*line-height: 50px;*/
padding-top: 30px;
color: #000;
opacity: 0.8;
}

.estacion{
	height: 38.207px;
	width: 100%;
	background-color: #E0E4E9 ; 
	color: #464445;
	padding-left: 22px;
	line-height: 38.207px;
	font-weight: 500;
	text-decoration: none;
}
.estacion.oscuro{ background-color: #C4C7CF; }
